/* Education.css */

#education {
  background: #fff;
  padding: 50px;
  color: #333;
}

#education .education-heading {
  text-align: center;
}

#education h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.education-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.education-card {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px;
}

.education-card:hover {
  background: #e0e0e0;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.education-card p {
  margin-bottom: 10px;
}

.education-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.education-card ul li {
  margin-bottom: 5px;
}

.education-card ul li:hover {
  background: #e0e0e0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .education-card {
    height: 200px;
    margin-right: 20px;
  }
}
